{%extends "basetem1.html"%}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>

    <style>
        fieldset
        {
            

            background-color: cyan;
            width: 800px;
        }
        #outerfieldset
        {
            
            display: flex;
            background-color: yellow;
            padding-left: 20%;
            align-items: center;
            justify-content: center;
        }
    </style>

    <body>
        
        <fieldset  name="outerfieldset"   class="border p-5">
            <legend><h1>About_Us </h1></legend>
                <fieldset class="border p-2">
                    <!-- Your form elements here -->
    
                    <legend><h3>About_Us</h3></legend>
    
                    Welcome to  <b>AIHealthPro</b> your trusted source for data-driven health predictions and student stress detection. At AIHealthPro, we are dedicated to using cutting-edge technology and rigorous data analysis to make a positive impact on health and well-being.
                </fieldset>
                <fieldset class="border p-2">
                    <!-- Your form elements here -->
    
                    <legend><h3>Our Mission</h3></legend>
    
                    Behind AIHealthPro is a team of dedicated professionals with expertise in data science, healthcare, and technology. Our experts bring years of experience to the table and are passionate about leveraging data to drive positive change.
                </fieldset>
    
                <fieldset class="border p-2">
                    <!-- Your form elements here -->
    
                    <legend><h3>The Power of Random Forest</h3></legend>
    
                    We harness the power of the Random Forest algorithm, a robust machine learning technique, to provide accurate disease predictions. This sophisticated methodology analyzes vast datasets to identify patterns and trends, ensuring reliable and precise results.
                </fieldset>
                <fieldset class="border p-2">
                    <!-- Your form elements here -->
    
                    <legend><h3>Get in Touch</h3></legend>
    
                    We value your feedback and questions. Feel free to reach out to us at <b>AIHealtPro@gmail.com</b> for inquiries, suggestions, or collaborations. We are here to serve you better.
                </fieldset>
                <fieldset class="border p-2">
                    <!-- Your form elements here -->
    
                    <legend><h3>Join Us on Our Journey</h3></legend>
    
                    Together, we're making strides in healthcare and student well-being. Join us on this journey toward a healthier, more informed future.
                </fieldset>
            
        </fieldset>
    
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

    {% endblock %}