{%extends "buyerbase.html"%}
{% block content %}
<div class="jumbotron text-center" style="background-color: aqua;">

    
    <div id="carouselExampleIndicators"    class="carousel slide" data-ride="carousel"   >
        <ol class="carousel-indicators" >
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner"  >
          <div class="carousel-item active"  style="background-color: cyan;">
            <!--  -->
            <h1>Easy To Use </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est quisquam amet distinctio! Culpa et impedit, nam aperiam labore incidunt facere. Ipsam, tempore illo ab recusandae dolore voluptatum incidunt officia blanditiis.</p>
            <br>    
<br>
          </div>
          <div class="carousel-item"  style="background-color: cyan">
            <!--  -->
            <h1> Efficient And reliable </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum aperiam vel cupiditate maiores quisquam aliquid minima explicabo. Sunt, pariatur voluptatem autem harum numquam, error nihil assumenda distinctio perspiciatis voluptates illum! Nostrum quae optio veniam facilis sed minus architecto veritatis id! Nisi eos quo natus sint atque animi explicabo beatae aliquam dicta exercitationem. Repudiandae aliquid atque qui quae, error minus aperiam!</p>
            <br>
            <br>
          </div>
          <div class="carousel-item"   style="background-color: cyan;">
            <h1>Simple </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas itaque aspernatur, blanditiis quaerat rerum placeat ad maxime ducimus illo beatae. Quia ad quos eius tenetur iure incidunt eveniet aspernatur obcaecati!</p>
            <br>
            <br>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
{% endblock %}